[submodule "vendor/pydata-book"]
	path = vendor/pydata-book
	url = https://github.com/wesm/pydata-book.git
[submodule "vendor/code_snippets"]
	path = vendor/code_snippets
	url = https://github.com/CoreyMSchafer/code_snippets.git
[submodule "vendor/algorithmic-trading-python"]
	path = vendor/algorithmic-trading-python
	url = https://github.com/nickmccullum/algorithmic-trading-python.git
[submodule "vendor/lukepolson_youtube_channel"]
	path = vendor/lukepolson_youtube_channel
	url = https://github.com/lukepolson/youtube_channel.git
